<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StartPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">


    <style>
 body {
        background-color: #BBC3B8;

     }



    </style>


</head>
<body>

<div class="container">
    <h1>Get a quote for a number...</h1>
<br>
    <br>
    <br>


    <form action="#" th:action="@{/index}" method="post">

        <p><input type="number" th:field="*{greeting.number}"/>   <font color="black">  <i>enter number </i>   </font></p>

        <p><input type="submit" name="findNew" value="Find in external resources"/>  <i></p>

        <p><input type="submit" name="show" value="Show all quotes in QuoteBase"/></p>

        <p><input type="submit" name="find" value="Find quote in QuoteBase"/></p>

    </form>

<br>
    <br>
    <form action="#" th:action="@{/intro}" method="get">



        <p><input type="submit"  value="Log off"/></p>

    </form>





</div>


</body>
</html>